<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HOME</title>
</head>
<body>
<h1>Cadastro de Turma</h1>

<form th:action="@{/turma/salvar}" th:object="${turma}" method="post">
    <label>Código:</label>
    <input type="text" th:field="*{codigo}">
    <label>Descrição:</label>
    <input type="text" th:field="*{descricao}">
    <input type="submit" value="salvar">
</form>


<h1>Cadastro de Aluno</h1>

<form th:action="@{/salvar}" th:object="${aluno}" method="post">
    <label>Número:</label>
    <input type="text" th:field="*{numero}"><br>
    <label>Nome:</label>
    <input type="text" th:field="*{nome}"><br>
    <label>Sexo:</label>
    <select th:field="*{sexo}">
        <option value="" disabled selected>Selecione...</option>
        <option value="Masculino">Masculino</option>
        <option value="Feminino">Feminino</option>
        <option value="Prefiro não Informar">Prefiro não Informar</option>
    </select>

    <br><label>Matricula:</label>
    <input type="text" th:field="*{matricula}*"><br>
    <label>CPF:</label>
    <input type="text" th:field="*{cpf}*">
    <input type="submit" value="salvar">

</form>

<table border="1">

    <tr>
        <th>Código</th>
        <th>Descrição</th>
    </tr>

    <tr th:each="turma : ${listaTurma}">
        <td th:text="${turma.codigo}"></td>
        <td th:text="${turma.descricao}"></td>
        <th>Número</th>
        <th>Nome</th>
        <th>Sexo</th>
        <th>Matricula</th>
        <th>CPF</th>
    </tr>

    <tr th:each="aluno : ${listaAlunos}">
        <td th:text="${aluno.numero}"></td>
        <td th:text="${aluno.nome}"></td>
        <td th:text="${aluno.sexo}"></td>
        <td th:text="${aluno.matricula}"></td>
        <td th:text="${aluno.cpf}"></td>
        <tr th:each="aluno : ${listaAlunos}">
    </tr>

</table>

</body>
</html>